.container .con {

    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container .con .login {
    width: 30%;
    text-align: center;
    background-color: white;
    box-shadow: 1px 1px 12px #e2dddd;
    padding: 30px;
    border-radius: 10px;
}